body {
    background-color: lightgray;
}

header {
    display: flex;
    background-color: rgba(28, 28, 28, 0.8);
    justify-content: center;
}

h3 {
    font-size: 2rem;
}

.navbar {
    display: flex;
    width: 1000px;
    justify-content: space-between;
}

.logo {
    margin: auto 20px;

    a {
        color: white;
        text-decoration: none;
        
        &:hover {
            cursor:pointer;
        }
        
    }
}

.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    list-style-type: none;
    padding: 20px;
    display: flex;
}

.navbar li a {
    text-decoration: none;
    color: white;
    justify-content: center;

    &:hover {
        color: orange;
        cursor:pointer;
    }
}

main {
    max-width: 1000px;
    margin: auto;
}

.main_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_sortie_main {
    display: flex;
    justify-content: center;
}

.left_column, .right_column {
    width: 400px;
}

.partie_boutons {
    display: flex;
    justify-content: center;

    button {
        margin: 20px;
        padding: 8px 5px;
        color: white;
        font-weight: 200;
        border-radius: 3px;
        border: 1px solid black;
        background-color: rgb(101, 101, 101);

        &:hover {
            cursor: pointer;
            color: black;
        }
    }

}

.save:hover {
    background-color: rgb(114, 197, 249);
}

.publish:hover {
    background-color: rgb(138, 221, 138);
}

.cancel:hover {
    background-color: rgb(210, 130, 130);
}

select[readonly="readonly"] {
    appearance: none;
    background-color: lightgray;
    color: black;
    border: 0;
}

.villes {
    display: flex;
    align-items: center;

    select {
        margin-left: 10px;
    }
}


.flash {
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: black;
}

.flash-success {background-color: rgb(105, 165, 45)}
.flash-error {background-color: rgb(210, 67, 67)}