/**************************************
   AFFICHAGE STANDARD
***************************************/

img {
    width: 150px;
    height: auto;
}


.custom-class {
    margin-top: 10px;
    margin-bottom: 10px;
}


.Campus{
    margin-top: 10px;
}


/**************************************
    AFFICHAGE SMARTPHONE
***************************************/
@media screen and (max-width: 600px){
    img {
        width: 100%;
        height: auto;
    }
}




























/**************************************
    AFFICHAGE TABLETTE
***************************************/
@media screen {

}